In [1]:
import csv
import pandas as pd

In [2]:
df = pd.read_csv("../CSV/comic_characters.csv")
df.head()

,Id,Name,Identity,Alignment,Eyes,Hair,Sex,Alive,Appearances,First_appeared,Planet,Universe
0,0,Dave Finn,Secret,Good,Blue,Black,Male,Yes,1,"2002, July",Earth-616,Marvel
1,1,Katherine Power,Secret,Good,Blue,Red,Female,Yes,106,"1984, August",Earth-616,Marvel
2,2,John Malone,Secret,Bad,Blue,White,Male,Yes,15,"1985, January",New Earth,DC
3,3,"Samuel Bradley, Jr.",Public,Bad,Brown,Brown,Male,No,19,"2004, March",New Earth,DC
4,4,Hope Taya,Public,Bad,Brown,Black,Female,Yes,28,"1999, December",New Earth,DC

In [7]:
marvel_df = df[df["Universe"] == "Marvel"]
marvel_df.head()

,Id,Name,Identity,Alignment,Eyes,Hair,Sex,Alive,Appearances,First_appeared,Planet,Universe
0,0,Dave Finn,Secret,Good,Blue,Black,Male,Yes,1,"2002, July",Earth-616,Marvel
1,1,Katherine Power,Secret,Good,Blue,Red,Female,Yes,106,"1984, August",Earth-616,Marvel
8,8,Perkins,Public,Bad,Green,White,Female,Yes,1,"1964, October",Earth-616,Marvel
9,9,Zuhn,Secret,Bad,White,Blond,Male,No,3,"2000, November",Earth-616,Marvel
10,10,Azaziah,Secret,Bad,Blue,White,Male,Yes,4,"1980, April",Earth-616,Marvel

In [8]:
dc_df = df[df["Universe"] == "DC"]
dc_df.head()

,Id,Name,Identity,Alignment,Eyes,Hair,Sex,Alive,Appearances,First_appeared,Planet,Universe
2,2,John Malone,Secret,Bad,Blue,White,Male,Yes,15,"1985, January",New Earth,DC
3,3,"Samuel Bradley, Jr.",Public,Bad,Brown,Brown,Male,No,19,"2004, March",New Earth,DC
4,4,Hope Taya,Public,Bad,Brown,Black,Female,Yes,28,"1999, December",New Earth,DC
5,5,Trygg,Secret,Bad,Black,Black,Male,Yes,3,"1940, June",New Earth,DC
6,6,Boris Dmitravich Razumihin,Public,Good,Brown,Black,Male,Yes,7,"1987, December",New Earth,DC

In [9]:
marvel_good_df = marvel_df[marvel_df["Alignment"] == "Good"]
marvel_good_df.head()

,Id,Name,Identity,Alignment,Eyes,Hair,Sex,Alive,Appearances,First_appeared,Planet,Universe
0,0,Dave Finn,Secret,Good,Blue,Black,Male,Yes,1,"2002, July",Earth-616,Marvel
1,1,Katherine Power,Secret,Good,Blue,Red,Female,Yes,106,"1984, August",Earth-616,Marvel
16,16,Sally Avril,Secret,Good,Brown,Black,Female,No,76,"1962, August",Earth-616,Marvel
24,24,Plazm,Secret,Good,Red,Blue,Male,No,4,"2001, July",Earth-616,Marvel
35,35,LaHoya Scripps,Secret,Good,Blue,Blond,Female,Yes,8,"1991, December",Earth-616,Marvel

In [10]:
marvel_bad_df = marvel_df[marvel_df["Alignment"] == "Bad"]
marvel_bad_df.head()

,Id,Name,Identity,Alignment,Eyes,Hair,Sex,Alive,Appearances,First_appeared,Planet,Universe
8,8,Perkins,Public,Bad,Green,White,Female,Yes,1,"1964, October",Earth-616,Marvel
9,9,Zuhn,Secret,Bad,White,Blond,Male,No,3,"2000, November",Earth-616,Marvel
10,10,Azaziah,Secret,Bad,Blue,White,Male,Yes,4,"1980, April",Earth-616,Marvel
12,12,Wild One,Public,Bad,Variable,Black,Male,Yes,3,"1992, July",Earth-616,Marvel
15,15,Black Cougar,Non-dual,Bad,Black,Black,Male,No,1,"1951, September",Earth-616,Marvel

In [11]:
appearances_bins = [0,10,100,500,1000,2000,3000,50000]
group_names = ["<10","<100","<500","<1000","<2000","<3000",">3000"]

marvel_df["Appearance Bins"] = pd.cut(marvel_df["Appearances"],
                                     appearances_bins, labels=group_names,
                                      include_lowest=True)
marvel_df.head()

C:\Users\patri\AppData\Local\Temp\ipykernel_12920\3019512083.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  marvel_df["Appearance Bins"] = pd.cut(marvel_df["Appearances"],

,Id,Name,Identity,Alignment,Eyes,Hair,Sex,Alive,Appearances,First_appeared,Planet,Universe,Appearance Bins
0,0,Dave Finn,Secret,Good,Blue,Black,Male,Yes,1,"2002, July",Earth-616,Marvel,<10
1,1,Katherine Power,Secret,Good,Blue,Red,Female,Yes,106,"1984, August",Earth-616,Marvel,<500
8,8,Perkins,Public,Bad,Green,White,Female,Yes,1,"1964, October",Earth-616,Marvel,<10
9,9,Zuhn,Secret,Bad,White,Blond,Male,No,3,"2000, November",Earth-616,Marvel,<10
10,10,Azaziah,Secret,Bad,Blue,White,Male,Yes,4,"1980, April",Earth-616,Marvel,<10